
body {
    width: 90%;
    padding: 10px;
}

.fundo{
    background-image: url('./assets/fundo.jpg');
    width: 90%;
}


main {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#logo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 25%;
    min-width: 200px;
    margin: 0 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    justify-items: center;
    align-self: center;
    width: 70%;
}


.on {
    background-color: rgb(232, 235, 103);
    font-weight: bold;
}


#person {
    width: 50%;
    min-width: 300px;
    margin: 5px;
    position: relative;
}

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.photo_hero{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;

}


.buttons{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content:flex-start;
    font-size: 20px;

}

.card-init {
    display: flex;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
    cursor: pointer;
}